body {
    margin: 0;
    background: gainsboro;
    text-align: center;
}
.name{
    font-weight: bold;
    text-align: center;
}
.about_me{
    /*font-weight: bold;*/
    font-weight: normal;
    text-align: left;
}
.description{
    text-align: left;
}
